body {
	background:(#F6F5EF);
    font-family: 'Montserrat', sans-serif;
    min-width: 100vh;
    
    
}
.menuPrincipal{
    width: 100%;
    justify-content: space-between;
    background: rgb(37, 45, 18);
    padding: 2% 4%;
    position: fixed;
    z-index: 94;
    

}
.menuPrincipal .contenedor{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.contenedor{
    width: 94%;
}
 

.menuPrincipal__titulo a{
    text-decoration: none;
	color:white;
    font-weight: bold;
}

.menu__list{
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}
.menu__list__item{
   
    list-style: none;
    
}
.menu__list__item a {
    padding: 0.625rem;
	color: white;
    text-decoration: none;
    font-size: 0.9375rem;
    font-weight: bold;
  
}
.banner{
    padding: 8% 8% 0% 8%;
    background-image: url(imagenes/banner-aji.jpg);
    background-repeat: no-repeat;
    background-position:center;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
   
  
}
.titulo{
    width: 100%;
    
}

.banner1{
    width: 100%;
    float: right;
     
    

}

.titulo__bio {
    display: inline-block;
    font-size: 3rem;
    color:white;
    font-weight: bold;
    margin-bottom: 10%;
    

}
.titulo__bio--sub{
    font-weight: bold;
    color: rgb(28, 42, 1);
    font-size: 2rem;
    margin-bottom: 2%;
}
.titulo__parrafo{
    line-height: 2rem;
    color: white;
    font-size: 1.5rem;
}

.btndescargar__curriculum{
    width: 15rem;
    padding: 0.9375rem 0;
    font-size: 1rem;
    font-size: 1.2rem;
    background: rgb(101, 118, 66);
    border: none;
    border-radius: 0.3125rem;
    transition: 1s all;
    cursor: pointer;
    color:white;
    margin-top: 2%;
}
.btndescargar__curriculum:hover{
    
    transform: scale(1.1);
}

    
.about{
    width: 100%;
}

.about__title{
   text-align: center;
   font-size: 2rem;
   color: rgb(28, 42, 1);
   font-weight: bold;
   padding: 2%;
   padding-top: 7%;
   
   

}
.about__paragraph{
    
    margin:2% 5%;
    line-height: 2rem;
    font-size: 1.3rem;
    text-align: justify;

}


.redesSociales__list{
    text-decoration: none;
    list-style: none;
    padding: 1.875rem ;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.title__network__item{
    display: inline;
    margin-right: 2.5%;
   

}

.redesSociales__img{
    width: 3%;
    
    
}
.habilidades{
    background:rgb(101, 118, 66) ;
    width: 100%;
}

.lista__habilidades{
    position: relative;
    margin: 0 auto;
    width: 94%;
    padding: 1.875rem;

    
   

}
.lista__habilidades li{
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 1.5% 1.5%;
    box-sizing: border-box;
    border-width: 0.125rem;
    border-style: solid;
    border: none;
    padding: 0.625rem;
    border-radius: 1.25rem;
    background:white;
    font-size: 1.2rem;
    
    
    
    
}


.lista__habilidades li:hover{
    border-color:grey;
    
}

.imagen__habilidades{
    width: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.hobbies{
    width: 100%;

}
.lista__hobbies{
    position: relative;
    margin: 0 auto;
    width: 94%;
    padding: 1.875rem;
    text-align: center;
}

.lista__hobbies li{
    display: inline-block;
    width: 40%;
    text-align: center;
    margin: 1.5% 1.5%;
    box-sizing: border-box;
    border-width: 0.125rem;
    border:none;
    padding: 0.625rem;
    border-radius: 1.25rem;
    background: rgb(101, 118, 66);
    color: white;
    font-size: 1.2rem;
}
.lista__hobbies li:hover{
    border-color:grey;
}
.btn__ver{
    
    padding: 1%;
    background: #DDDAC6;
    border-width: 0.0625rem;
    border-radius: 0.3125rem;
    border-style: solid;
    box-sizing: border-box;
    border-color:grey;
    cursor: pointer;
    color:black;
    width: 30%;
    margin-top: 4%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 35%;
    
    
    
}   
.ojo{
    width: 15%;
    margin-right: 5%;
    

}

.formacion{
    background:rgb(101, 118, 66);
    width: 100%;

}

.lista__formacion{
    position: relative;
    margin: auto auto;
    width: 94%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 1.875rem;
    

    
}

.lista__formacion--li{
    width: 22rem;
    height: 23rem;
    text-align: center;
    align-items: center;
    margin: 1.5% 1.5%;
    box-sizing: border-box;
    border-width: 0.125rem;
    border-style: solid;
    border:none;
    padding: 4%;
    border-radius: 1.25rem;
    background: white;
    font-size: 1.2rem;
    
    
}
.imagen__formacion{
    height: 15rem;
    
}
.imagen__formacion1{
    width: 15rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
}
.titulo__formacion{
    margin-top: 3%;

}

.parrafo__formacion{
    margin-top: 3%;
}
.proyectos{
    width: 100%;
}
.lista__proyectos{
    position: relative;
    margin: auto auto;
    width: 94%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 1.875rem;
}
.lista__proyectos--li{
    width: 35rem;
    height: 35rem;
    text-align: center;
    align-items: center;
    margin: 1.5% auto;
    box-sizing: border-box;
    border-width: 0.125rem;
    border-style: solid;
    border-color:rgb(101, 118, 66) ;
    border-radius: 1.25rem;
    background: rgb(101, 118, 66);
    
    
   
    
}
.ancol__img{
    width: 34.75rem;
    border-radius: 18px 18px 0 0;
    
}
.especias__img{
    width: 34.75rem;
    height: 17rem;
    border-radius: 1.125rem 1.125rem 0 0;

}
.experience__title{
    text-align: left;
    padding: 3%;
    font-weight: bold;
}
.experience__text{
    text-align: justify;
    padding: 0 3%;
    line-height: 1.5rem;
}


.experience__botao--demo{
    padding: 1%;
    background: #DDDAC6;
    border-width: 0.0625rem;
    border-radius: 0.3125rem;
    border-style: solid;
    box-sizing: border-box;
    border-color:grey;
    cursor: pointer;
    color:black;
    width: 30%;
    margin-top: 4%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 35%;
    
    
    
  
}
#btn__demo--encriptador{
    margin-top: 8.75rem;
}

.contacto{
    background:rgb(101, 118, 66);
    width: 100%;
  
}

.formulario{
   
    border-radius: 1.25rem;
    margin-left: 30%;
    padding: 1.875rem;
    color: white;
    font-size: 1.2rem;

}

.input-patron{
    display: block;
    margin: 0 0 2%;
    width: 50%;
    padding: 1% 2%;
    
   
}
#nombreApellido, #correo, #telefono, #mensaje{
    border: none;
    border-radius: 0.3125rem;
   

}

   
.botonEnviar{
    
    width: 54%;
    padding: 0.9375rem 0;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
 
 
    
}
@media screen and (max-width:480px) {

    .menuPrincipal{
        padding: 0;
        padding-top: 2%;
        width: 100vh;
        position: relative;
        padding-bottom: 2rem;
    }

    .menuPrincipal .contenedor{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        position:static;
        z-index: initial;

        
        
    }
    .banner{
        height: 70vh;
    }

    .menu__list{
        display: block;
        text-align: center;
        line-height: 1rem;
        font-size: 5rem;

    }
    
    .lista__proyectos{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        
        
    }
    .lista__proyectos--li{
        margin: auto;
        margin-bottom: 1rem;
    }
    .lista__formacion {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .lista__formacion--li{
        margin: auto;
        margin-bottom: 1rem;
    }
    .lista__hobbies{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;

    }
    .lista__hobbies li{
        margin: auto;
        margin-bottom: 1rem;

    }
    .lista__habilidades{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;


    }
    .lista__habilidades li{
        margin: auto;
        margin-bottom: 1rem;
    }
    
    
    
   
    .about__paragraph{
        margin-left: 1%;
        margin-right: 1%;
    }
    .botonEnviar{
        
        padding: auto;
       
       
    }
    .menu__list__item a{
        padding: auto;
    }

}

    

   
   
 

